# Byte-compiled / optimized / DLL files  
__pycache__/
*.py[cod]
*$py.class  

# C extension  
*.so  

# Distribution / packaging  
.Python  
env/  
venv/  
ENV/  
VENV/  
env.bak/  
venv.bak/  

# Test / coverage reports  
coverage.xml  
*.cover  
*.py,cover  
.hypothesis/  
.nosetests.xml  
nosetests.xml  

# MyPy  
.mypy_cache/  
.dmypy.json  
.dmypy.json.*  

# IDEs and editors  
.vscode/  
.idea/  
*.sublime-workspace  
*.sublime-project  

# Pytest  
.cache  

# Python egg files  
*.egg  
*.egg-info/  

# Python virtual envs  
.venv/  
.svn/  

# Build files  
build/  
dist/  
*.whl  

# Miscellaneous  
pip-log.txt  
pip-delete-this-directory.txt  
__pypackages__/
